@use "@/styles/globals.scss" as *;
.container {
  .headerContainer {
    opacity: 0.9;
    @extend .backgroundContainers;
    background-image: url("https://res.cloudinary.com/wulfdev/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1735241871/pastor-in-front-of-computer_bo9x1c.jpg");
    background-position: 50% 50%;
    color: white;
    position: relative;
    .contentContainer {
      z-index: 1;
      position: relative;

      @include mobile {
        margin: 5rem 0;
      }

      .header {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include mobile {
          font-size: 2rem;
        }
      }
      .subheader {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .headerText {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.75;
      }
    }
    .dimContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0.6;
      background-color: var(--dark);
    }
  }
  .infoContainer {
    @extend .backgroundContainers;
  }
  .pointsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--quaternary-lighter);
    color: var(--dark);
    gap: 20px;

    @include mobile {
      flex-direction: column;
    }
    .point {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      height: 100%;
      width: 100%;

      .pointHeader {
        font-size: 1.5rem;
      }
      .pointText {
        font-size: 1.2rem;
        font-weight: 500;
      }
      .pointIcon {
        background-color: var(--primary);
        color: white;
        border-radius: 50%;
      }
    }
  }
  .boxContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--quaternary-lighter);
    color: var(--dark);

    // every other box will have a different background color
    &:nth-child(odd) {
      background-color: var(--dark) !important;
      color: white;
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column;
      }
      .subcontainer {
        align-items: flex-end;

        @include mobile {
          align-items: center;
        }

        &:nth-child(odd) {
          align-items: flex-start;
        }

        .boxText {
          text-align: end;

          @include mobile {
            text-align: center;
          }
        }
      }
    }

    @include mobile {
      flex-direction: column;
    }

    .subcontainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      flex: 1;

      @include mobile {
        align-items: center;
        justify-content: center;
      }

      &:nth-child(odd) {
        align-items: flex-end;
      }

      img {
        object-fit: cover;
        border-radius: 20px;

        @include mobile {
          width: 100%;
          border-radius: 0;
        }
      }

      .boxHeader {
        font-size: 3rem;
        font-weight: 700;

        @include mobile {
          font-size: 2rem;
        }
      }
      .boxText {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 500;
        width: 50%;

        @include mobile {
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }
      }
      .boxButton {
        background-color: var(--primary);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--primary-dark);
        }
      }
    }
  }
  .specialContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: whitesmoke;
    color: var(--dark);

    .specialHeader {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;

      @include mobile {
        font-size: 2rem;
      }
    }
    .specialText {
      font-size: 1.25rem;
      font-weight: 500;
      width: 50%;

      @include mobile {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
  .callToActionContainer {
    background-color: var(--dark);
    color: white;
    .subcontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .boxHeader {
        font-size: 3.5rem;
        font-weight: 700;

        @include mobile {
          font-size: 2rem;
        }
      }
      .boxText {
        font-size: 1.5rem;
        font-weight: 300;

        @include mobile {
          font-size: 1rem;
        }
      }
      .boxButton {
        background-color: var(--primary);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--primary-dark);
        }
      }
    }
  }
}
