.container {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .logo {
      max-width: 100px;

      @media (prefers-color-scheme: dark) {
        border-radius: 50%;
        border: 1px solid white;
      }
    }
  }
}
