.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: var(--dark);

  .logoContainer {
    position: relative;
    .logo {
      max-width: 100px;

      @media (prefers-color-scheme: dark) {
        border-radius: 50%;
        border: 1px solid white;
      }
    }
  }
  .subContainer {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    text-wrap: wrap;
    max-width: 400px;

  }
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: end;
}
